<h1><%= @matcher.match_regex %></h1>

<div class='flex '>
  <%= @matcher.replacer %>

  <%= link_to "Edit matcher", edit_matcher_path(@matcher), class: 'btn btn-link' %>
</div>

<h2>Transactions</h2>
<% Transaction.unscoped do %>
  <%= render 'transactions/list', transactions: @matcher.transactions, show_account: true %>
<% end %>