<h1 class='break-all'>Transaction: <%= @transaction.name %></h1>

<%= link_to 'Back to transactions', account_path(@transaction.account), class: 'btn btn-link mb-6' %>

<%= render 'transactions/form', transaction: @transaction %>

<h1 class='mt-10'>Spend</h1>

<% if @transaction.spend %>
  <p>Matched to <%= link_to @transaction.spend.name, spend_path(@transaction.spend) %></p>
<% end %>

